apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  - ../../base

images:
  - name: dark-factory
    newName: 113513624033.dkr.ecr.us-east-1.amazonaws.com/bravozero/dark-factory
    newTag: latest
